@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&display=swap");
/* FeedbackForm.css */

.feedback-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 10px;
}

h2 {
  text-align: left;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  /* background-color: white; */
  text-align: left;
  /* border: 1px solid; */
  color: black;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
  /* background-color: #212121 !important; */
  /* color: white !important; */
}

input[type="text"],
textArea[name="desc"],
input[type="email"],
input[type="tel"],
input[type="select"] {
  font-size: 16px;
  /* font-weight: 600 !important; */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder {
  /* color: rgba(255, 255, 255, 0.572) !important; */
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* color: white !important; */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  /* color: white !important; */
}

/* input:-webkit-autofill {
  -webkit-text-fill-color: #212121 !important;
  background-color: #212121 !important;
  -webkit-;
} */

/* animation for the onboarding/ */
.step-enter {
  opacity: 0;
  transform: translateX(100%);
}

.step-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.step-exit {
  opacity: 1;
  transform: translateX(0%);
}

.step-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}

/* <!-- HTML !--> */
/* <button class="button-45" role="button">Button 45</button> */

/* CSS */
.button-45,
.button-46 {
  margin: 10px 0px;
  align-items: center;
  background-color: #ffe7e7;
  background-position: 0 0;
  border: 1px solid #fee0e0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #d33a2c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)
    none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  text-align: center !important;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}

.button-45:active {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.button-45:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}
.button-46 {
  background-color: green;
  color: white;
  border: none;
}
.button-46:disabled {
  background-color: grey;
}

@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-color: #e0e3e8;
  font-family: "Rubik", sans-serif;
}
.form-area {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  padding: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-area .form-inner {
  width: 100%;
}
.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 19px;
  font-size: 1rem;
  line-height: 1.4;
  color: #475f7b;
  background-color: #fff;
  border: 1px solid #dfe3e7;
  border-radius: 0.267rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #475f7b;
  background-color: #fff;
  border-color: #5a8dee;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}
.text-primary {
  color: #5a8dee !important;
}
.btn-primary {
  border-color: #5a8dee !important;
  background-color: #5a8dee !important;
  color: #fff;
}
.form-submit {
  padding: 13px 30px;
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.userprofile-img-bx {
  min-height: 150px;
  min-width: 150px;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-right: 0px;
  position: relative;
}
.userprofile-img-bx .prf-img-prev {
  min-height: 150px;
  min-width: 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e5e5e5;
}
.profile-img-change-btn {
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
  padding-top: 10px;
  top: 0px;
  right: -4px;
  text-align: center;
  font-size: 12px;
}
.filepreviewprofile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.react-form-group .css-yk16xz-control,
.react-form-group .css-yk16xz-control:hover {
  min-height: 53px;
  border: 1px solid #dfe3e7;
}
.react-form-group .css-26l3qy-menu {
  z-index: 3;
}
.react-form-group .css-1pahdxg-control {
  min-height: 53px;
  background-color: #fff;
  border: 1px solid #5a8dee;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}
.react-form-group .css-1hwfws3 {
  padding: 2px 19px;
}
.color {
  color: black !important;
}
.form-group {
  color: black !important;
}
