/* FeedbackForm.css */
.feedback-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0f0f0f;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
  background-color: #212121 !important;
  color: white !important;
}

input[type="text"],
textArea[name="desc"],
input[type="email"],
input[type="tel"],
input[type="select"] {
  font-size: 20px;
  font-weight: 600 !important;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder {
  color: rgba(255, 255, 255, 0.572) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  background-color: #212121 !important;
}
